nav.navbar {
    flex: 0 0 auto;
    width: 100%;

    background: #232323;
    color: #eee;

    display: flex;
    padding: 1rem 1.25rem;

    h1 {
        margin: 0;
    }

    a {
        color: #eee;
    }
}
